$white: #ffffff;
$black: #000000;

$primary100: #D6ECF9;
$primary200: #3EB5F9;
$primary300: #32A1DF;
$primary400: #168DCF;
$primary500: #26516E;

$light100: $white;
$light200: #EDF0F2;
$light300: #D2DCE1;
$light400: #C7D2D8;
$light500: #BCC8CF;

$dark100: #8FA7B5;
$dark200: #8A9CA7;
$dark300: #435058;
$dark400: #202B39;
$dark500: #1E222B;
$dark600: #1E1B22;

$font-family: "RF Tone", Arial, Helvetice, sans-serif;

$font-size-mobile-xs: 10px;
$font-size-mobile-sm: 12px;
$font-size-mobile-md: 14px;
$font-size-mobile-lg: 16px;

$font-size-desktop-xs: 12px;
$font-size-desktop-sm: 14px;
$font-size-desktop-md: 16px;
$font-size-desktop-lg: 18px;

$line-height: 1.5;
