@import "fonts";
@import "typography";
@import "forms";
@import "helpers";

html {
  font-size: 62.5%;
}

html,
body {
  min-height: 100vh;
}

body {
  font: 300 $font-size-mobile-md $font-family;
  line-height: $line-height;
  color: $dark600;
  background-color: $white;
  overflow-x: hidden;

  @include media(">=xxl") {
    font-size: $font-size-desktop-md;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* ReCaptcha */
@media only screen and (max-width: 500px) {
  [style*="margin: 0px auto; top: 0px; left: 0px; right: 0px; position: fixed; border: 1px solid rgb(204, 204, 204); z-index: 2000000000; background-color: rgb(255, 255, 255);"] {
    transform: scale(0.75);
    transform-origin: 0 0;
  }
}
