// Typography

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6{
  font-weight: 300;
  margin: 1.5em 0 1em;
  line-height: 1.2;
}

h1, .h1{
  font-size: 3.2rem;

  @include media(">=xxl"){
    font-size: 4.8rem;
  }
}

h2, .h2 {
  font-size: 2.6rem;

  @include media(">=xxl"){
    font-size: 4rem;
  }
}

h3, .h3 {
  font-size: 2.2rem;

  @include media(">=xxl"){
    font-size: 3.2rem;
  }
}
h4, .h4{
  font-size: 2rem;

  @include media(">=xxl"){
    font-size: 2.8rem;
  }
}

h5, .h5{
  font-size: 1.8rem;

  @include media(">=xxl"){
    font-size: 2.4rem;
  }
}

h6, .h6{
  font-size: 1.6rem;

  @include media(">=xxl"){
    font-size: 2rem;
  }
}

p, .p{
  margin: 0 0 1em;
}

ul, .ul,
ol, .ol{
  margin: 1.5em 0;
  padding: 0;
  list-style: none;

  li{
    margin: 0 0 .75em;
    padding: 0 0 0 2.8rem;
    position: relative;
  }
}

ul, .ul{
  > li{
    &::before{
      content: "";
      position: absolute;
      left: .8rem;
      top: calc((#{$line-height} / 2) * 1rem);
      transform: translateY(-50%);
      width: .6rem;
      height: .6rem;
      background-color: $primary300;
    }

    ul > li::before{
      background-color: transparent;
      box-shadow: inset 0 0 0 .1rem $primary300;
    }
  }
}

ol, .ol{
  counter-reset: numeric-list;

  > li{
    &::before{
      content: counter(numeric-list)".";
      position: absolute;
      left: .8rem;
      top: 0;
      color: $primary300;
      font-weight: 700;
      counter-increment: numeric-list;
    }

    ol > li::before{
      font-weight: 400;
    }
  }
}

.text{

  &--dark200{
    color: $dark200;
  }

  &--300{
    font-weight: 300;
  }

  &--400{
    font-weight: 400;
  }

  &--600{
    font-weight: 600;
  }

  &--700{
    font-weight: 700;
  }

  &--extrasmall{
    font-size: $font-size-mobile-xs;

    @include media('>=xxl'){
      font-size: $font-size-desktop-xs;
    }
  }

  &--small{
    font-size: $font-size-mobile-sm;

    @include media('>=xxl'){
      font-size: $font-size-desktop-sm;
    }
  }

  &--medium{
    font-size: $font-size-mobile-md;

    @include media('>=xxl'){
      font-size: $font-size-desktop-md;
    }
  }

  &--large{
    font-size: $font-size-mobile-lg;

    @include media('>=xxl'){
      font-size: $font-size-desktop-lg;
    }
  }
}

a, .a{
  color: $primary200;
  text-decoration: underline transparent;
  @include animate(text-decoration);

  &:hover{
    text-decoration-color: $primary200;
  }
}