.advantages{

  &__list{
    @extend %listreset;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.4rem 2.8rem;

    @include media(">=md"){
      grid-template-columns: repeat(4, 1fr);
    }
  }

  &__item-img{
    display: block;
    width: 93%;
    margin: 0 auto 1.2rem;

    @include media(">=sm"){
      width: 85%;
    }

    @include media(">=md"){
      width: 100%;
    }

    @include media(">=lg"){
      width: 85%;
    }

    @include media(">=xxl"){
      margin: 0 auto 3.2rem;
    }
  }

  &__item-desc{
    font-size: $font-size-mobile-sm;
    text-align: center;
    margin: 0;

    @include media(">=xxl"){
      font-size: $font-size-desktop-md;
    }
  }
}