.contacts{
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 22.7rem);

  @include media(">=md"){
    min-height: calc(100vh - 24.3rem);
  }

  @include media(">=xxl"){
    min-height: calc(100vh - 38.3rem);
  }

  &__info{
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;

    @include media(">=lg"){
      margin: 0 0 4rem;
    }

    @include media(">=xxl"){
      margin: 0 0 7.2rem;
    }
  }

  &__info-container{
    display: flex;
    flex-direction: column;
    flex: 1 0 100%;
    width: 100%;

    @include media(">=lg"){
      justify-content: center;
    }
  }

  &__list{
    @extend %listreset;
    margin: 0 0 3.2rem;
    position: relative;

    &::before{
      display: none;
      position: absolute;
      content: "";
      height: 4.3rem;
      width: 100vw;
      background: url(../img/decor-border-2.svg) no-repeat right top / auto 100%;
      top: -4.3rem;
      right: calc(100% + 3rem);

      @include media(">=xl"){
        display: block;
      }

      @include media(">=xxl"){
        height: 7.7rem;
        top: -7.7rem;
        right: calc(100% + 6rem);
      }
    }

    @include media(">=xxl"){
      margin: 0 0 4rem;
    }

    .contacts__list-item{
      display: flex;
      align-items: center;
      gap: 2rem;
      margin: 0 0 1.6rem;

      @include media(">=xxl"){
        margin: 0 0 2rem;
        gap: 2.8rem;
      }
    }
  }

  &__list-icon {
    width: 3.6rem;
    flex-shrink: 0;

    @include media(">=xxl"){
      width: 5.6rem;
    }
  }

  &__list-text{
    line-height: 1.6;

    a{
      color: inherit;
      text-decoration: none;
      @include animate('color');

      &:hover{
        color: $primary300;
      }
    }

    @include media(">=xxl"){
      font-size: $font-size-desktop-lg;
    }
  }

  &__social-btn{
    margin: 0 0 4rem;

    @include media(">=lg"){
      margin: 0;
    }
  }

  &__map{
    margin: 0 -1.5rem;
    position: relative;

    &::before,
    &::after {
      content: "";
      position: absolute;
      display: none;
      opacity: .3;
      z-index: 0;

      @include media(">=lg"){
        display: block;
        width: 12rem;
        height: 12rem;
        background-size: contain;
        background-repeat: no-repeat;
      }

      @include media(">=xxl"){
        width: 18rem;
        height: 18rem;
      }
    }

    &::before {
      @include media(">=lg") {
        right: 0;
        top: 0;
        transform: translate(50%, -40%);
        background-image: url(../img/blue-dots.svg);
      }
    }

    &::after {
      @include media(">=lg") {
        left: 0;
        bottom: 0;
        transform: translate(-50%, 40%) rotateY(180deg);
        background-image: url(../img/blue-dots.svg);
      }
    }

    @include media(">=md"){
      margin: 0 -3rem;
    }

    @include media(">=lg"){
      margin: 0 0 0 5.6rem;
    }

    @include media(">=xl"){
      margin: 0 3.6rem;
    }

    @include media(">=xxl"){
      margin: 0;
    }
  }

  &__map-inner{
    position: relative;
    width: 100%;
    height: 40vh;
    min-height: 38.3rem;
    overflow: hidden;
    z-index: 1;

    @include media(">=sm") {
      min-height: 43.3rem;
    }

    @include media(">=lg"){
      min-height: 30.4rem;
      max-height: 40rem;
    }

    @include media(">=xxl"){
      min-height: 43.3rem;
      max-height: 50rem;
    }

    &::before,
    &::after{
      content: "";
      position: absolute;
      z-index: 3;
    }

    &::before{
      @include media(">=lg"){
        width: 0;
        height: 0;
        left: 0;
        top: 0;
        border: 17px solid transparent;
        border-left-color: $white;
        border-top-color: $white;
      }
    }

    &::after{
      @include media(">=lg"){
        width: 0;
        height: 0;
        right: 0;
        bottom: 0;
        border: 26px solid transparent;
        border-right-color: $white;
        border-bottom-color: $white;
      }
    }
  }

  &__map-border{
    display: none;
    position: absolute;
    left: 50%;
    width: 100vh;
    background: url(../img/decor-border-1.svg) no-repeat left top / auto 100%;

    @include media(">=lg"){
      display: block;
      height: 4rem;
      top: calc(100% - 1rem);
    }

    @include media(">=xl"){
      height: 5rem;
    }

    @include media(">=xxl"){
      display: block;
      height: 7.7rem;
      top: calc(100% - 2rem);
    }
  }

  &__map-btn{
    position: absolute;
    z-index: 2;
    left: 2rem;
    bottom: 2rem;

    &::after,
    .btn__inner{
      background-color: $dark500;
    }

    .btn__text{
      color: $white;
    }
  }

  &__map-img{
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 200%;
    min-height: 100%;
    object-fit: cover;

    @include media(">=md"){
      width: 150%;
    }

    @include media(">=lg"){
      width: 150%;
      height: 130%;
    }

    @include media(">=xxl"){
      width: 125%;
      height: 125%;
    }
  }

  &__copyrights{
    background-color: $light200;
    padding: .4rem 0;
    position: relative;

    &::before,
    &::after{
      content: "";
      position: absolute;
      bottom: 100%;
      width: 100%;
      background-color: $light200;
    }

    @include media(">=xl"){
      &::before{
        left: calc(-100% + 32rem);
        height: 1rem;
        transform: skew(45deg);
      }

      &::after{
        left: calc(100% - 32rem);
        height: 1.6rem;
        transform: skew(-45deg);
      }
    }

    @include media(">=xxl"){
      &::before{
        left: calc(-100% + 48rem);
        height: 1.6rem;
        transform: skew(45deg);
      }

      &::after{
        left: calc(100% - 48rem);
        height: 2.5rem;
        transform: skew(-45deg);
      }
    }

    @include media(">=xxl"){
      padding: 1rem 0;
    }
  }

  &__copyrights-text{
    color: rgba($dark300, .6);
    font-size: $font-size-mobile-xs;
    display: inline-block;

    @include media(">=xxl"){
      font-size: $font-size-desktop-xs;
    }
  }
}