.footer {
  color: $white;
  background-color: $dark600;

  @include media(">=md") {
    display: grid;
    grid-template-columns: 1fr 1fr;

    @include media(">=lg") {
      background-image: url(../img/white-radial-gradient-2.svg);
      background-position: 0 100%;
      background-size: 24.3rem auto;
      background-repeat: no-repeat;
    }

    @include media(">=xl") {
      grid-template-columns: 1fr 1fr;
      background-size: 43.8rem auto;
    }

    @include media(">=xxl") {
      grid-template-columns: 1fr 56.5%;
    }
  }

  &__content {
    padding: 6.4rem 1.5rem 3.2rem;

    @include media(">=md") {
      padding: 6.4rem 1.5rem;
    }

    @include media(">=lg") {
      padding: 5.2rem 0 1.2rem 3.5rem;
    }

    @include media(">=xl") {
      padding: 5.2rem 0 1.2rem 23%;
    }

    @include media(">=xxl") {
      padding: 8rem 0 2rem 23%;
      display: flex;
      justify-content: flex-end;
    }
  }

  &__content-inner {
    display: grid;
    justify-items: center;

    &::before {
      @include media(">=xl") {
        content: "";
        width: 12rem;
        height: 12rem;
        position: absolute;
        left: -16.4rem;
        top: 0;
        background-image: url(../img/blue-dots.svg);
        background-repeat: no-repeat;
        background-size: contain;
        opacity: 0.3;
      }

      @include media(">=xxl") {
        width: 18rem;
        height: 18rem;
        left: -26.8rem;
      }
    }

    @include media(">=xl") {
      gap: 0 2rem;
      justify-items: left;
      grid-template-columns: 1fr auto;
      grid-template-areas:
        'logo nav'
        'contacts nav'
        'button nav'
        'copyright nav';
    }

    @include media(">=xl") {
      position: relative;
    }

    @include media(">=xxl") {
      gap: 0 8rem;
      max-width: 57rem;
      width: 100%;
    }
  }

  &__logo {
    width: 18rem;
    margin: 0 0 2.4rem;

    @include media(">=xl") {
      grid-area: logo;
      margin: 0 0 3.2rem;
    }

    @include media(">=xxl") {
      width: 22rem;
      margin: 0 0 4rem;
    }
  }

  &__nav {
    margin: 0 0 2.8rem;

    @include media(">=xl") {
      grid-area: nav;
      margin: 3.6rem 0 0;
    }

    @include media(">=xxl") {
      margin: 4.4rem 0 0;
    }
  }

  &__nav-list {
    @extend %listreset;
    display: grid;
    grid-template-columns: min-content min-content;
    gap: 1.2rem 3.6rem;

    @include media(">=xl") {
      display: block;
    }

    .footer__nav-list-item {

      &:nth-child(odd) {
        text-align: right;
      }

      @include media(">=xl") {
        margin: 0 0 1.2rem;

        &:nth-child(odd) {
          text-align: left;
        }
      }

      @include media(">=xxl") {
        margin: 0 0 1.6rem;
      }
    }

    .footer__nav-list-link {
      color: $dark200;
      text-decoration: none;
      @include animate(color);

      &:hover {
        color: $primary300;
      }
    }
  }

  &__socials {
    margin: 0 0 3.6rem;

    @include media(">=xl") {
      grid-area: button;
    }
  }

  &__socials-title {
    margin: 0 0 1rem;
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;

    @include media(">=lg") {
      text-align: left;
    }
  }

  &__socials-holder {
    display: grid;
    gap: 1rem;

    @include media(">=sm") {
      grid-template-columns: 1fr 1fr;
    }
  }

  &__contacts-list {
    margin: 0 0 3.2rem;

    @include media(">=xl") {
      grid-area: contacts;
      margin: 0 0 4rem;
    }

    .tabs {
      &__head {
        @include media(">=xl") {
          justify-content: flex-start;
        }
      }
    }
  }

  &__copyrights {
    font-size: $font-size-mobile-xs;
    color: $dark200;

    @include media(">=xl") {
      grid-area: copyright;
    }

    @include media(">=xxl") {
      font-size: $font-size-desktop-xs;
    }
  }

  &__map {
    position: relative;
  }

  &__map-inner {
    position: relative;
    height: 40rem;
    overflow: hidden;

    @include media(">=md") {
      height: 100%;
    }

    @include media(">=xl") {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: calc(100% + 3rem);
      transform-origin: 0 100%;
      transform: skew(-22deg);
    }

    @include media(">=xxl") {
      height: calc(100% + 5rem);
    }
  }

  &__map-img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 120%;

    @include media(">=xl") {
      transform: translate(-50%, -50%) skew(22deg);
      transform-origin: 0 100%;
    }

    @include media(">=xxl") {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}