<footer class="page__footer footer">
    <div class="footer__content">
        <div class="footer__content-inner">

            <a class="logo footer__logo" href="./">
                <img class="logo__img" src="assets/img/logo-white.svg" alt="Diweave">
            </a>

            <nav class="footer__nav">
                <ul class="footer__nav-list">
                    <li class="footer__nav-list-item">
                        <a class="footer__nav-list-link" href="./post.html">
                            Про компанію
                        </a>
                    </li>
                    <li class="footer__nav-list-item">
                        <a class="footer__nav-list-link" href="./news.html">
                            Новини
                        </a>
                    </li>
                    <li class="footer__nav-list-item">
                        <a class="footer__nav-list-link" href="./suppliers.html">
                            Постачальники
                        </a>
                    </li>
                    <li class="footer__nav-list-item">
                        <a class="footer__nav-list-link" href="./contacts.html">
                            Контакти
                        </a>
                    </li>
                </ul>
            </nav>

            <div class="tabs tabs--sm footer__contacts-list">
                <div class="tabs__head">
                    <div class="tabs__head-item tabs__head-item--active" data-tab-target="ukraine-contacts">
                        Офіс в Україні
                    </div>
                    <div class="tabs__head-item" data-tab-target="сzech-contacts">
                        Офіс в Чехії
                    </div>
                </div><!-- tabs head -->

                <div class="tabs__content">
                    <div class="tabs__content-item tabs__content-item--active" data-tab-id="ukraine-contacts">
                        <ul class="contacts-list">
                            <li class="contacts-list__item">
                                <i class="icon icon--phone contacts-list__item-icon"></i>
                                <span class="contacts-list__item-text">
                                    <a href="tel:+380442002818">044 200 28 18</a>
                                    <span class="text--300 text--extrasmall">(багатоканальний)</span>
                                </span>
                            </li>
                            <li class="contacts-list__item">
                                <i class="icon icon--mail contacts-list__item-icon"></i>
                                <span class="contacts-list__item-text">
                                    <a href="mailto:info@diweave.com">Написати нам</a>
                                    <span class="text--300 text--extrasmall">- підрозділ IT</span>
                                    <br>
                                    <a href="mailto:info@dw-toys.com.ua">Написати нам</a>
                                    <span class="text--300 text--extrasmall">- підрозділ дитячих товарів</span>
                                </span>
                            </li>
                            <li class="contacts-list__item">
                                <i class="icon icon--pointer contacts-list__item-icon"></i>
                                <span class="contacts-list__item-text">
                                    Україна, 03170, Київ, б-р Жуля Верна<br>
                                    (Ромен Ролана), 13-в
                                </span>
                            </li>
                        </ul>
                    </div>
                    <div class="tabs__content-item" data-tab-id="сzech-contacts">
                        <ul class="contacts-list">
                            <li class="contacts-list__item">
                                <i class="icon icon--phone contacts-list__item-icon"></i>
                                <span class="contacts-list__item-text">
                                    <a href="tel:+420281867274">+420 281 867 274</a>
                                </span>
                            </li>
                            <li class="contacts-list__item">
                                <i class="icon icon--mail contacts-list__item-icon"></i>
                                <span class="contacts-list__item-text">
                                    <a href="mailto:info@diweave.com">Написати нам</a>
                                </span>
                            </li>
                            <li class="contacts-list__item">
                                <i class="icon icon--pointer contacts-list__item-icon"></i>
                                <span class="contacts-list__item-text">
                                    Poděbradská 88/55<br>
                                    198 00 Praha–Hloubětín<br>
                                    IČ: 24291234 DIČ: CZ24291234
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="footer__socials">
                <div class="footer__socials-title">Ми на Facebook:</div>

                <div class="footer__socials-holder">
                    <a href="https://www.facebook.com/Diweave" target="_blank" class="btn">
                        <span class="btn__inner">
                            <i class="btn__icon icon icon--facebook"></i>
                            <span class="btn__text">IT-напрямок</span>
                        </span>
                    </a>
                    <a href="https://www.facebook.com/Diweave" target="_blank" class="btn">
                        <span class="btn__inner">
                            <i class="btn__icon icon icon--facebook"></i>
                            <span class="btn__text">Іграшки</span>
                        </span>
                    </a>
                </div>
            </div>

            <div class="footer__copyrights">© 2023 | Diweave.com</div>

        </div>
    </div>
    <div class="footer__map">
        <div class="footer__map-inner">
            <img id="map-ua" class="footer__map-img contact-map" loading="lazy" src="assets/img/map.svg"
                alt="Map image">
            <img id="map-cz" style="display: none;" class="footer__map-img contact-map" loading="lazy"
                src="assets/img/map_cz.svg" alt="Map image">
        </div>
    </div>
</footer><!-- page footer -->