<div class="modal modal-close" id="modal-powerwalker">

    <div class="modal__holder">
        <button class="modal__close-btn modal-close">
            <i class="icon icon--close modal__close-btn-icon"></i>
        </button>

        <div class="modal__main">

            <div class="modal__heading h4">
                PowerWalker
            </div>

            <div class="modal__body">
                <div class="brand-desc">

                    <div class="brand-desc__top">
                        <img class="brand-desc__logo" src="assets/img/vendors/it/colored/powerwalker.svg" alt="powerwalker">
                        <a class="brand-desc__link" href="https://powerwalker.com/" target="_blank">www.powerwalker.com</a>
                    </div>

                    <div class="brand-desc__text">
                        <p>
                            Торгова марка PowerWalker належить німецькій компанії BlueWalker, заснованій у 2004 р.
                            Компанія є відомим виробником ДБЖ на ринку Німеччини і виробляє продукцію як для домашніх
                            користувачів, так і для сегменту SMB і для великих корпорацій.Використання тільки
                            високорівневих компонентів ( зокрема акумуляторів японської копорацції YUASA) дозволяє
                            використовувати ДБЖ у критичних задачах та середовищах.
                        </p>
                    </div>
                </div><!-- brand description -->
            </div><!-- body -->

            <div class="modal__footer">
                <div class="modal__controls">
                    <button type="button" class="btn btn--outline modal-close modal__controls-btn">
                        <span class="btn__inner">
                            <span class="btn__text">Закрити</span>
                        </span>
                    </button>
                </div>
            </div><!-- footer -->
        </div><!-- main -->
    </div><!-- modal holder -->

</div><!-- user age modal -->