<div class="modal modal-close" id="modal-mediarange">

    <div class="modal__holder">
        <button class="modal__close-btn modal-close">
            <i class="icon icon--close modal__close-btn-icon"></i>
        </button>

        <div class="modal__main">

            <div class="modal__heading h4">
                Mediarange
            </div>

            <div class="modal__body">
                <div class="brand-desc">

                    <div class="brand-desc__top">
                        <img class="brand-desc__logo" src="assets/img/vendors/it/colored/mediarange.svg" alt="mediarange">
                        <a class="brand-desc__link" href="https://www.media-range.com/en/index.pmode" target="_blank">www.media-range.com</a>
                    </div>

                    <div class="brand-desc__text">
                        <p>
                            MediaRange GmbH є постачальником інноваційних, відзначених   нагородами продуктів на ринках
                            цифрових технологій зберігання даних і   канцелярських товарів з більш ніж десятирічним
                            досвідом.
                        </p>
                        <p>
                            Продукти отримали різні нагороди від відомих комп’ютерних журналів, таких як c’t або
                            ComputerBILD. Філософія компанії включає як високоякісне портфоліо, так і комплексне
                            обслуговування клієнтів. Ця стратегія принесла MediaRange, компанії, яка отримала нагороду
                            за інновації споживчої електроніки на CeBIT, стабільне зростання з моменту її заснування в
                            2002 році. MediaRange продає свою продукцію через відомих дистриб’юторів по всій Європі.
                            Ключові клієнти постачаються напряму. Кінцеві клієнти можуть знайти продукти MediaRange у
                            магазинах своїх місцевих роздрібних продавців, а також у великих відомих онлайн-магазинах
                            і спеціалізованих інтернет-магазинах.
                        </p>
                    </div>
                </div><!-- brand description -->
            </div><!-- body -->

            <div class="modal__footer">
                <div class="modal__controls">
                    <button type="button" class="btn btn--outline modal-close modal__controls-btn">
                        <span class="btn__inner">
                            <span class="btn__text">Закрити</span>
                        </span>
                    </button>
                </div>
            </div><!-- footer -->
        </div><!-- main -->
    </div><!-- modal holder -->

</div><!-- user age modal -->