<div class="modal modal-close" id="modal-lianli">

    <div class="modal__holder">
        <button class="modal__close-btn modal-close">
            <i class="icon icon--close modal__close-btn-icon"></i>
        </button>

        <div class="modal__main">

            <div class="modal__heading h4">
                Lian Li
            </div>

            <div class="modal__body">
                <div class="brand-desc">

                    <div class="brand-desc__top">
                        <img class="brand-desc__logo" src="assets/img/vendors/it/colored/lianli.svg" alt="lianli">
                        <a class="brand-desc__link" href="https://lian-li.com/" target="_blank">www.lian-li.com</a>
                    </div>

                    <div class="brand-desc__text">
                        <p>
                            Lian Li Industrial Co., LTD, заснована в 1983 році, входить до числа найбільших та
                            шанованих сімейних бізнесів у сфері розробки дизайну та виробництва високоякісних
                            корпусів та аксесуарів для ПК.
                        </p>
                        <p>
                            Як виробник, що перебуває більше 30 років в індустрії ПК, Lian Li могли спостерігати, як
                            приходять і йдуть різні тенденції, але залишаються вірними своїй філософії - що їх
                            продукція повинна виділятися з інших товарів, і щоб вибираючи продукцію Lian Li, ви б
                            відчували її винятковість. Навіть у часи, коли нормою в галузі було скорочення витрат,
                            Lian Li залишалася найкращим вибором для всіх, хто створює систему для ПК.
                        </p>
                        <p>
                            Lian Li - не тільки відомий виробник корпусів для ПК та супутніх товарів, таких як
                            кронштейни, інтерфейси та монтажні комплекти, вони також виступають як постачальник послуг
                            OEM і ODM, який допомагає розробляти продукти для невеликих стартапів або забезпечує
                            великомасштабне високоякісне виробництво промислових та/ чи серверних корпусів. Постійні
                            клієнти Lian Li цінують майстерність у галузі розробки корпусів та електротехніки, показану
                            в численних проектах, тому що незалежно від того, чи Ліан Лі створює проект для своєї
                            лінійки товарів або для клієнтів - мета одна - щоб кожен відчув різницю.
                        </p>
                    </div>
                </div><!-- brand description -->
            </div><!-- body -->

            <div class="modal__footer">
                <div class="modal__controls">
                    <button type="button" class="btn btn--outline modal-close modal__controls-btn">
                        <span class="btn__inner">
                            <span class="btn__text">Закрити</span>
                        </span>
                    </button>
                </div>
            </div><!-- footer -->
        </div><!-- main -->
    </div><!-- modal holder -->

</div><!-- user age modal -->