<div class="modal modal-close" id="modal-partnership">

    <div class="modal__holder">
        <button class="modal__close-btn modal-close">
            <i class="icon icon--close modal__close-btn-icon"></i>
        </button>

        <div class="modal__main">
            <div class="modal__heading h4">
                Заявка на партнерство
            </div>

            <div class="modal__body">

                <form novalidate class="partnership-form" id="partnership-form">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="input-row partnership-form__input-row">
                                <span class="input-row__title">ПІБ</span>
                                <input class="input-text input-text--required input-row__input-text" type="text"
                                    name="fullname" data-validation>
                            </div><!-- input row -->
                        </div>
                        <div class="col-md-6">
                            <div class="input-row partnership-form__input-row">
                                <span class="input-row__title">Електронна пошта</span>
                                <input class="input-text input-text--required input-row__input-text" type="email"
                                    name="email" data-validation="email">
                            </div><!-- input row -->
                        </div>
                        <div class="col-md-6">
                            <div class="input-row partnership-form__input-row">
                                <span class="input-row__title">Телефон</span>
                                <input class="input-text input-text--required input-row__input-text" type="tel"
                                    name="phone" data-validation="tel">
                            </div><!-- input row -->
                        </div>
                        <div class="col-md-6">
                            <div class="input-row partnership-form__input-row">
                                <span class="input-row__title">Посада</span>
                                <input class="input-text input-row__input-text" type="text" name="position">
                            </div><!-- input row -->
                        </div>
                        <div class="col-md-6">
                            <div class="input-row partnership-form__input-row">
                                <span class="input-row__title">Назва компанії</span>
                                <input class="input-text input-row__input-text" type="text" name="company name">
                            </div><!-- input row -->
                        </div>
                        <div class="col-md-6">
                            <div class="input-row partnership-form__input-row">
                                <span class="input-row__title">Веб-сайт</span>
                                <input class="input-text input-row__input-text" type="text" name="website">
                            </div><!-- input row -->
                        </div>
                        <div class="col-12">
                            <div id="example1" class="partnership-form__captcha"></div>
                        </div>
                    </div>
                    <div class="partnership-form__footer">
                        <button class="btn partnership-form__footer-btn" data-validation-btn>
                            <span class="btn__inner">
                                <span class="btn__text">Залишити заявку</span>
                            </span>
                        </button>
                        <button type="button" class="btn btn--outline modal-close partnership-form__footer-btn">
                            <span class="btn__inner">
                                <span class="btn__text">Закрити</span>
                            </span>
                        </button>
                    </div>
                </form>

            </div><!-- body -->

            <!--            <div class="modal__footer">-->
            <!--                <div class="modal__controls">-->
            <!--                    <button class="btn modal__controls-btn" data-validation-btn>-->
            <!--                        <span class="btn__inner">-->
            <!--                            <span class="btn__text">Залишити заявку</span>-->
            <!--                        </span>-->
            <!--                    </button>-->
            <!--                    <button type="button" class="btn btn&#45;&#45;outline modal-close modal__controls-btn">-->
            <!--                        <span class="btn__inner">-->
            <!--                            <span class="btn__text">Скасувати</span>-->
            <!--                        </span>-->
            <!--                    </button>-->
            <!--                </div>-->
            <!--            </div>-->
        </div><!-- main -->
    </div><!-- modal holder -->

</div><!-- partnership modal -->