<div class="modal modal-close" id="modal-gamidas">

    <div class="modal__holder">
        <button class="modal__close-btn modal-close">
            <i class="icon icon--close modal__close-btn-icon"></i>
        </button>

        <div class="modal__main">

            <div class="modal__heading h4">
                Gamidas
            </div>

            <div class="modal__body">
                <div class="brand-desc">

                    <div class="brand-desc__top">
                        <img class="brand-desc__logo" src="assets/img/vendors/it/colored/gamidas.svg" alt="gamidas">
                        <a class="brand-desc__link" href="https://www.gamdias.com/" target="_blank">www.gamdias.com</a>
                    </div>

                    <div class="brand-desc__text">
                        <p>
                            GAMDIAS Technology була заснована у 2012 р. Компанія у своїх розробках прагне встановити
                            високу планку якості та практичності. Перші три літери назви бренду GAM - це абревіатура
                            девізу "Gaming art   in motion" ("Ігрове мистецтво в русі").
                        </p>
                        <p>
                            GAMDIAS - цей ігровий бренд і, як особливо наголошується, команда дизайнерів компанії
                            складається із захоплених геймерів, завдання яких створювати продукти, які здатні
                            "зруйнувати обмеження традиційного мислення та революціонізувати індустрію кіберспорту".
                        </p>
                        <p>
                            Як повідомляє виробник, відмінною рисою бренду в дизайні продукції є використання
                            підсвічування RGB практично в кожній продуктовій лінійці.
                        </p>
                        <p>
                            Продукти GAMDIAS позиціонуються як високорівневі рішення з оптимальним співвідношенням
                            ціна/якість. Компанія пропонує геймерам практично все необхідне: компоненти для ігрових
                            ПК – комп'ютерні корпуси, блоки живлення, системи охолодження, аксесуари – навушники,
                            клавіатури та миші, спеціальні геймерські меблі – крісла тощо. GAMDIAS Technology входить
                            до групи компаній KWorld, продукція якої вже давно відома і на українському ринку. Рішення
                            GAMDIAS сьогодні представлені в різних країнах по всьому світу — від Північної Америки та
                            Європи до Південно-Східної Азії.
                        </p>
                    </div>
                </div><!-- brand description -->
            </div><!-- body -->

            <div class="modal__footer">
                <div class="modal__controls">
                    <button type="button" class="btn btn--outline modal-close modal__controls-btn">
                        <span class="btn__inner">
                            <span class="btn__text">Закрити</span>
                        </span>
                    </button>
                </div>
            </div><!-- footer -->
        </div><!-- main -->
    </div><!-- modal holder -->

</div><!-- user age modal -->