<div class="modal modal-close" id="modal-thronmax">

    <div class="modal__holder">
        <button class="modal__close-btn modal-close">
            <i class="icon icon--close modal__close-btn-icon"></i>
        </button>

        <div class="modal__main">

            <div class="modal__heading h4">
                Thronmax
            </div>

            <div class="modal__body">
                <div class="brand-desc">

                    <div class="brand-desc__top">
                        <img class="brand-desc__logo" src="assets/img/vendors/it/colored/thronmax.svg" alt="thronmax">
                        <a class="brand-desc__link" href="https://www.thronmax.com/" target="_blank">www.thronmax.com</a>
                    </div>

                    <div class="brand-desc__text">
                        <p>
                            Thronmax - провідний виробник професійних аудіопродуктів для ринків запису музики,
                            радіомовлення, постпродакшену та ринків стрімінгу.
                        </p>
                        <p>
                            Мікрофони Thronmax пропонують найкращий вибір конденсаторних мікрофонів   для студії, USB,
                            подкастів, відеоконференцій та запису на відкритому просторі та   в «польових умовах».
                            Мікрофони Thronmax забезпечують високу якість звуку, яку можна порівнювати  з якістю від
                            набагато дорожчих мікрофонів. Мікрофони Thronmax ідеально підходять для ігор, стримінгу,
                            віддаленого та/або домашнього навчання, дзвінків по Скайпу, подкастингу, інструментальної
                            музики, будь-якого використання у бізнесі.
                        </p>
                        <p>
                            Мікрофони Thronmax продаються у більш ніж 45 країнах, це робиться силами 10 000 реселерів та
                            500 он-лайн магазинів. Топ-5 країн із продажу – США, Скандинавська група, Німеччина, Корея,
                            тощо.
                        </p>
                        <p>
                            "Наші дистриб'ютори і широка партнерська мережа магазинів гарантують, що мікрофони
                            продаються в багатьох країнах і це число продовжує зростати, що робить Thronmax справді
                            глобальною компанією ...", - сказав Хасан Тургут, Генеральний менеджер Thronmax.
                        </p>
                        <p>
                            Ряд моделей мікрофонів Thronmax мають такі нагороди: Red Dot Award: Product Design 2021 і
                            2021 IF Design Award.
                        </p>
                    </div>
                </div><!-- brand description -->
            </div><!-- body -->

            <div class="modal__footer">
                <div class="modal__controls">
                    <button type="button" class="btn btn--outline modal-close modal__controls-btn">
                        <span class="btn__inner">
                            <span class="btn__text">Закрити</span>
                        </span>
                    </button>
                </div>
            </div><!-- footer -->
        </div><!-- main -->
    </div><!-- modal holder -->

</div><!-- user age modal -->