<div class="modal modal-close" id="modal-acme">

    <div class="modal__holder">
        <button class="modal__close-btn modal-close">
            <i class="icon icon--close modal__close-btn-icon"></i>
        </button>

        <div class="modal__main">

            <div class="modal__heading h4">
                Acme
            </div>

            <div class="modal__body">
                <div class="brand-desc">

                    <div class="brand-desc__top">
                        <img class="brand-desc__logo" src="assets/img/vendors/it/colored/acme.svg" alt="acme">
                        <a class="brand-desc__link" href="https://www.acme.eu/" target="_blank">www.acme.eu</a>
                    </div>

                    <div class="brand-desc__text">
                        <p>
                            ACME Grupė – холдингова компанія, що управляє підприємствами, що входять до групи ACME. Група
                            підприємств ACME є одним із провідних оптовиків у сфері обладнання для інформаційних та
                            телекомунікаційних технологій та розповсюджувачів прав на кінофільми в країнах Балтії. Сьогодні до
                            складу групи ACME входить 29 підприємств у Литві, Латвії, Естонії, Грузії, Вірменії, Польщі, Білорусі.
                            Консолідований оборот ACME Grupė у 2014 р. перевищив 254 мільйони євро. У групі підприємств працює понад
                            470 працівників.
                        </p>
                        <p>
                            ACC Distribution– одне із підприємств групи ACME Grupė. Компанія заснована у 1998 р. За 17 років
                            діяльності ми стали одним із найбільших виробників комп'ютерних аксесуарів та товарів для освітлення у
                            регіонах Східної та Центральної Європи.
                        </p>
                        <p>
                            ACC Distribution э постачальником в Україну всіх товарів бренду ACME: навушників, звукових систем,
                            комп'ютерних мишей та клавіатур, килимків, геймпадів, УМБ, окулярів віртуальної реальності тощо.
                        </p>
                    </div>
                </div><!-- brand description -->
            </div><!-- body -->

            <div class="modal__footer">
                <div class="modal__controls">
                    <button type="button" class="btn btn--outline modal-close modal__controls-btn">
                        <span class="btn__inner">
                            <span class="btn__text">Закрити</span>
                        </span>
                    </button>
                </div>
            </div><!-- footer -->
        </div><!-- main -->
    </div><!-- modal holder -->

</div><!-- user age modal -->