<div class="modal modal-close" id="modal-enermax">

    <div class="modal__holder">
        <button class="modal__close-btn modal-close">
            <i class="icon icon--close modal__close-btn-icon"></i>
        </button>

        <div class="modal__main">

            <div class="modal__heading h4">
                Enermax
            </div>

            <div class="modal__body">
                <div class="brand-desc">

                    <div class="brand-desc__top">
                        <img class="brand-desc__logo" src="assets/img/vendors/it/colored/enermax.svg" alt="enermax">
                        <a class="brand-desc__link" href="https://www.enermaxeu.com/" target="_blank">www.enermaxeu.com</a>
                    </div>

                    <div class="brand-desc__text">
                        <p>
                            Компанія Enermax Technology була заснована в 1990 році в Тайвані і стала всесвітньо
                            провідним виробником комп'ютерних блоків живлення, корпусів, вентиляторів, клавіатур та
                            іншої периферії.Enermax пропонує завжди нові технології.Власні дизайн-інженери працюють
                            безперервно, щоб знайти найкращі продукти та рішення.
                        </p>
                        <p>
                            Coolergiant Computers Handels GmbH або Enermax Німеччина, заснована у березні 2003 року, є
                            німецьким дочірнім представництвом Enermax Technology Corporation і здійснює
                            логістику/маркетинг у Європі та країнах СНД.
                        </p>
                    </div>
                </div><!-- brand description -->
            </div><!-- body -->

            <div class="modal__footer">
                <div class="modal__controls">
                    <button type="button" class="btn btn--outline modal-close modal__controls-btn">
                        <span class="btn__inner">
                            <span class="btn__text">Закрити</span>
                        </span>
                    </button>
                </div>
            </div><!-- footer -->
        </div><!-- main -->
    </div><!-- modal holder -->

</div><!-- user age modal -->