<div class="modal modal-close" id="modal-triathlon">

    <div class="modal__holder">
        <button class="modal__close-btn modal-close">
            <i class="icon icon--close modal__close-btn-icon"></i>
        </button>

        <div class="modal__main">

            <div class="modal__heading h4">
                Triathlon
            </div>

            <div class="modal__body">
                <div class="brand-desc">

                    <div class="brand-desc__top">
                        <img class="brand-desc__logo" src="assets/img/vendors/it/colored/Triathlon.svg" alt="Triathlon">
                        <a class="brand-desc__link" href="https://www.triathlon-batteries.com/" target="_blank">www.triathlon-batteries.com</a>
                    </div>

                    <div class="brand-desc__text">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae dolores facilis harum hic,
                            magni odio omnis praesentium quia quidem quos reiciendis rerum unde! Error odio optio quam
                            repudiandae. Architecto, voluptatem.
                        </p>
                    </div>
                </div><!-- brand description -->
            </div><!-- body -->

            <div class="modal__footer">
                <div class="modal__controls">
                    <button type="button" class="btn btn--outline modal-close modal__controls-btn">
                        <span class="btn__inner">
                            <span class="btn__text">Закрити</span>
                        </span>
                    </button>
                </div>
            </div><!-- footer -->
        </div><!-- main -->
    </div><!-- modal holder -->

</div><!-- user age modal -->