<div class="modal modal-close" id="modal-viewsonic">

    <div class="modal__holder">
        <button class="modal__close-btn modal-close">
            <i class="icon icon--close modal__close-btn-icon"></i>
        </button>

        <div class="modal__main">

            <div class="modal__heading h4">
                Viewsonic
            </div>

            <div class="modal__body">
                <div class="brand-desc">

                    <div class="brand-desc__top">
                        <img class="brand-desc__logo" src="assets/img/vendors/it/colored/viewsonic.svg" alt="viewsonic">
                        <a class="brand-desc__link" href="https://www.viewsonic.com/eu/" target="_blank">www.viewsonic.com</a>
                    </div>

                    <div class="brand-desc__text">
                        <p>
                            ViewSonic - всесвітньо визнаний лідер у галузі візуальних технологій.
                        </p>
                        <p>
                            Це інноваційною компанією, що насамперед націлена на задоволення потреб клієнтів, створення
                            цінностей для клієнтів та партнерів, постійне впровадження інноваційних технологій,
                            продуктів та рішень, турботу про довкілля та використання екологічно чистих матеріалів.
                            ViewSonic – лідер інновацій.
                        </p>
                        <p>
                            При розробці логотипу компанії, засновник, голова правління та виконавчий директор ViewSonic
                            Джеймс Чу, прагнув створити образ бренду, який відображав би високу якість та такі атрибути
                            продукції ViewSonic як яскраві кольори та високу роздільну здатність. Джеймс Чу шукав
                            емблему, яка стала б добре впізнаваним символом досконалості, зручності та комфорту.
                        </p>
                        <p>
                            Сьогодні три пташки з сімейства Амадіна Гульда, які стали логотипом ViewSonic, споживачі
                            всього світу пов'язують із такими атрибутами як: унікальність, висока якість, яскравість,
                            теплота та дружелюбність. Компанія ViewSonic не лише вибрала цих рідкісних птахів для свого
                            логотипу, але й є спонсором програми «Прийняти птаха» на LadyGouldianFinch.com.
                        </p>
                    </div>
                </div><!-- brand description -->
            </div><!-- body -->

            <div class="modal__footer">
                <div class="modal__controls">
                    <button type="button" class="btn btn--outline modal-close modal__controls-btn">
                        <span class="btn__inner">
                            <span class="btn__text">Закрити</span>
                        </span>
                    </button>
                </div>
            </div><!-- footer -->
        </div><!-- main -->
    </div><!-- modal holder -->

</div><!-- user age modal -->