<div class="modal modal-close" id="modal-avtek">

    <div class="modal__holder">
        <button class="modal__close-btn modal-close">
            <i class="icon icon--close modal__close-btn-icon"></i>
        </button>

        <div class="modal__main">

            <div class="modal__heading h4">
                Avtek
            </div>

            <div class="modal__body">
                <div class="brand-desc">

                    <div class="brand-desc__top">
                        <img class="brand-desc__logo" src="assets/img/vendors/it/colored/avtek.svg" alt="nzxt">
                        <a class="brand-desc__link" href="https://avtek.eu/" target="_blank">www.avtek.eu</a>
                    </div>

                    <div class="brand-desc__text">
                        <p>
                            Торгова марка Avtek належить польській компанії VIDIS S.A. – великому дистриб'ютору
                            проекційного та периферійного IT обладнання.
                        </p>
                        <p>
                            Перші продукти Avtek з'явилися на європейському ринку у 2006 році в Польщі.З раннього
                            початку бренд фокусувався на ринку обладнання для конференцій та сфери освіти, а також для
                            професійних провідних та презентацій: інтерактивні екрани та дошки, професійні екрани,
                            кріплення та аксесуари.
                        </p>
                        <p>
                            Ця стратегія забезпечила успіх бренду на ринку, і здобула довіру у   більш ніж 30 000
                            клієнтів протягом перших 4 років його присутності на ринку.
                        </p>
                    </div>
                </div><!-- brand description -->
            </div><!-- body -->

            <div class="modal__footer">
                <div class="modal__controls">
                    <button type="button" class="btn btn--outline modal-close modal__controls-btn">
                        <span class="btn__inner">
                            <span class="btn__text">Закрити</span>
                        </span>
                    </button>
                </div>
            </div><!-- footer -->
        </div><!-- main -->
    </div><!-- modal holder -->

</div><!-- user age modal -->