<aside class="sidebar">

    <div class="sidebar__body">

        <div class="search sidebar__search">
            <input class="input-text search__control" type="text" placeholder="Пошук по статтям..." name="search">
            <button class="search__submit">
                <i class="icon icon--search"></i>
            </button>
        </div><!-- search -->

        <nav class="sidebar__nav">
            <ul class="sidebar__nav-list">
                <li class="sidebar__nav-item">
                    <a href="#" class="sidebar__nav-link">Про компанію</a>
                </li>
                <li class="sidebar__nav-item">
                    <a href="#" class="sidebar__nav-link">Новини</a>
                </li>
                <li class="sidebar__nav-item">
                    <a href="#" class="sidebar__nav-link">Постачальники</a>
                </li>
                <li class="sidebar__nav-item">
                    <a href="#" class="sidebar__nav-link">Контакти</a>
                </li>
            </ul>
        </nav><!-- nav -->

        <ul class="lang-list sidebar__lang-list">
            <li class="lang-list__item">
                <span class="lang-list__link lang-list__link--active">Ua</span>
            </li>
            <li class="lang-list__item">
                <a href="#" class="lang-list__link">En</a>
            </li>
        </ul><!-- lang -->

        <button class="btn sidebar__partnership-btn" data-modal-id="modal-partnership">
            <span class="btn__inner">
                <span class="btn__text">Стати партнером</span>
            </span>
        </button>

        <ul class="contacts-list sidebar__contacts-list">
            <li class="contacts-list__item">
                <i class="icon icon--phone contacts-list__item-icon"></i>
                <span class="contacts-list__item-text">
                    <a href="tel:+380442002818">044 200 28 18</a>
                    <span class="text--300 text--extrasmall">(багатоканальний)</span>
                </span>
            </li>
            <li class="contacts-list__item">
                <i class="icon icon--mail contacts-list__item-icon"></i>
                <span class="contacts-list__item-text">
                    <a href="mailto:info@diweave.com">info@diweave.com</a>
                    <span class="text--300 text--extrasmall">- підрозділ IT</span>
                    <br>
                    <a href="mailto:info@dw-toys.com.ua">info@dw-toys.com.ua</a>
                    <span class="text--300 text--extrasmall">- підрозділ дитячих товарів</span>
                </span>
            </li>
            <li class="contacts-list__item">
                <i class="icon icon--pointer contacts-list__item-icon"></i>
                <span class="contacts-list__item-text">
                    Україна, 03170, Київ, б-р Жуля Верна<br>
                    (Ромен Ролана), 13-в
                </span>
            </li>
        </ul><!-- contacts -->

    </div>
</aside>