<!DOCTYPE html>
<html lang="uk-UA">

<head>
    {{> head }}
    <title>Diweave</title>
</head>

<body>

    <div class="page page--main">
        {{> header }}

        <main class="page__content content">
            {{> body }}
        </main>

        {{> footer }}
    </div>

    {{> modal-acme }}
    {{> modal-aula }}
    {{> modal-avtek }}
    {{> modal-enermax }}
    {{> modal-gamidas }}
    {{> modal-lianli }}
    {{> modal-mediarange }}
    {{> modal-nzxt }}
    {{> modal-partnership }}
    {{> modal-powerwalker }}
    {{> modal-speedlink }}
    {{> modal-thronmax }}
    {{> modal-viewsonic }}
    {{> modal-agfaphoto }}
    {{> modal-famemaster }}
    {{> modal-cobi }}
    {{> modal-eurographics }}
    {{> modal-globber }}
    {{> modal-hama }}
    {{> modal-larsen }}
    {{> modal-noxo }}
    {{> modal-piatnik }}
    {{> modal-revell }}
    {{> modal-scootandride }}
    {{> modal-triathlon }}
    {{> modal-email }}
    {{> sidebar }}

    <script src="assets/js/app.js"></script>
    <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" defer></script>
    <script src="assets/js/plugins.js"></script>
</body>

</html>